
:root{
    --font-xs: 1.5rem;
    --font-sm: 1.75rem;
    --font-base: 2rem;
    --font-lg: 3rem;
    --font-xl: 4rem;
    --color-black: black;
    --color-gray: #575655;
    --color-white: white;
    --color-cyan: #0891b2;
    --padding-sm: 1rem;
    --padding-base: 2rem;
    --padding-lg: 6rem;
    --font-style-base: 'Roboto', 'Courier New', Courier, monospace;
    --font-style-serif: 'Playfair Display', 'Times New Roman', Times, serif;    
    font-family: var(--font-base);
    color: var(--color-black);
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    all: unset;
    cursor: pointer;
}

h1, h2, h3{
    padding: 0;
    margin: 0;
}

