html{
    background-color: var(--color-black);
}

body{
    background-color: var(--color-white);
}

/*header*/
.my-picture,
.name,
header h2,
header .description,
header ul{    
    z-index: 1;
}

.lg-shape{
    background-color: var(--color-cyan);
    transform: skewY(-30deg); 
    z-index: 0;
}

.sm-shape{
    background-color: var(--color-cyan);
    z-index: 0;
}
.name{
    font-family: var(--font-style-serif);
    font-size: var(--font-xl);
    color: var(--color-white);
}

.my-picture{
    box-shadow: 2px 2px 6px var(--color-black);
}
header h2{
    text-align: center;
    font-family: var(--font-style-serif);
    font-size: var(--font-lg);
    color: var(--color-black);
}

header .description{
    font-size: var(--font-sm);
    color: var(--color-gray);
}

/*main*/
main{
    background-color: var(--color-white);
}

main h2{
    text-align: center;
    font-family: var(--font-style-serif);
    font-size: var(--font-lg);
    color: var(--color-black);
}

main .card{
    box-shadow: 2px 2px 6px var(--color-black);
}

main .card .screenshot{
    font-family: var(--font-style-serif);
    font-size: var(--font-lg);
    color: var(--color-white);
}

.project-name{
    font-family: var(--font-style-serif);
    font-size: var(--font-base);
    color: var(--color-black);
}

main .card .description{
    font-size: var(--font-xs);
    color: var(--color-gray);
}

main .card .container{
    background-color: var(--color-white);
}

/*footer*/
footer{
    background-color: var(--color-cyan);
    color: var(--color-white);
}

footer h2{
    font-family: var(--font-style-serif);
    font-size: var(--font-lg);
}

footer div,
footer .container{
    font-size: var(--font-sm);
}

footer .container img{
    filter: brightness(0) invert(1);
}

@media(640px <= width) {
    header .container{
        background-color: var(--color-white);
        box-shadow: 2px 2px 6px var(--color-black);
    }
}